.quantic-suggestions-list {
  margin-top: 0;
}

.option {
  align-items: center;
}

.suggestion-option__icon {
  justify-content: flex-start;
}

.recent-searches__label {
  justify-content: space-between;
  font-size: 14px;
}