<template>
  <div class={headerCssClass}>
    <div aria-hidden={isAnyPreviewOpen} class={badgesSlotCssClass}>
      <slot name="badges" onslotchange={handleHeaderSlotChange}></slot>
    </div>
    <div aria-hidden={resultPreviewShouldNotBeAccessible} class="slds-col slds-order_3 slds-col_bump-left slds-p-right_xx-small">
      <slot name="actions" onslotchange={handleHeaderSlotChange}></slot>
    </div>
  </div>
  <div class="slds-grid slds-size_1-of-1 main-content__container">
    <div class="slds-grid slds-grid_vertical main-content">
      <slot name="visual"></slot>
      <div class="title__container slds-var-m-bottom_x-small">
        <slot name="name"></slot>
      </div>
      <slot name="metadata"></slot>
      <slot name="emphasized"></slot>
      <slot class="slds-wrap slds-text-align_left" name="description"></slot>
      <slot class="slds-wrap" name="bottom-metadata"></slot>
      <slot class="slds-wrap" name="children"></slot>
    </div>
  </div>
</template>